body {
  background: #eee;
  animation: rotatePage 5s 1s infinite
}
.filler {
  background: #20B7AF;
  position: absolute;
  bottom: 50%;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes rotatePage
{
  33% {
    transform: rotateZ(360deg);
  }
  66% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }    
}