*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo-animation
{
    display:inline-block; 
    margin:0 25%;
}
.logo {
  position: relative;
  margin-left: 75px;
  margin-bottom: 75px;
  width: 100px;
  height: 100px;
  overflow: visible;
}
.logo__stroke {
  stroke: #ed1c2f;
  stroke-dasharray: 200, 200;
  stroke-dashoffset: 600;
  -webkit-animation: strokeAnim 8s 1s ease-in-out infinite;
          animation: strokeAnim 8s 1s ease-in-out infinite;
}
.logo__strokemid {
  stroke: #f68121;
  stroke-dasharray: 200, 200;
  stroke-dashoffset: 600;
  -webkit-animation: strokeAnim 8s 1s ease-in-out infinite;
          animation: strokeAnim 8s 1s ease-in-out infinite;
}
.logo__fill {
  stroke: #ed1c2f;
  stroke-dasharray: 290, 290;
  stroke-dashoffset: 290;
  -webkit-animation: fillAnim 8s 1s infinite;
          animation: fillAnim 8s 1s infinite;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
}

.logo__fillmid {
  stroke: #f68121;
  stroke-dasharray: 290, 290;
  stroke-dashoffset: 290;
  -webkit-animation: fillAnim 8s 1s infinite;
          animation: fillAnim 8s 1s infinite;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
}
@-webkit-keyframes strokeAnim {
  33% {
    stroke-dashoffset: 600;
  }
  66% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes strokeAnim {
  33% {
    stroke-dashoffset: 600;
  }
  66% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fillAnim {
  66% {
    stroke-dashoffset: 290;
  }
  85% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fillAnim {
  66% {
    stroke-dashoffset: 290;
  }
  85% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.other {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  width: 100%;
  text-align: right;
}
.other__link {
  font-size: 1.3rem;
  margin: 0 1rem;
}
.typewriter
{
    font-size:55px;
    font-family:TAHOMA;
}
.typewriterTM
{
    position:relative;
    font-size:11px;
    top:-127px;
    left:230px;
    display:block;
    font-family:TAHOMA;
}